/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

/* Header Text */
h1 {
  padding: 20px;
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 40px;
  text-align: center;
  color: #f8f9fa;
  background-color: #c84e4e;
  padding: 10px 20px;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c84e4e;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
  transition: background 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
  background-color:   background-color: #c84e4e;
;
  border-radius: 5px;
}
